# Flutter
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png

# Android
android/.gradle/
android/app/google-services.json

# VS Code
.vscode/

# iOS/macOS (если будешь добавлять потом)
ios/
macos/

# IDE
.idea/
*.iml
